<h2 class="password-message">パスワードをお忘れですか?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="password-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "password-label"%>
  </div>

  <div class="password-actions">
    <%= f.submit "パスワード再設定の案内を送る" %>
  </div>
<% end %>

  <div class="password-links">
    <%= render "devise/shared/links" %>
  </div>
