
  <%= render 'layouts/header' %> 
   <div class="areas">        
    <% @posts.each do |post| %> 

      <h2 class="main"> <%= link_to(root_path, class: 'main-name') do %>
      <p>第"#"方面 <%= post.state.name %> ・  <%= post.area.name %> 被害状況</p>
      <% end%>
      <% end%>
   </div>

  
<main>
 <div class="contents_row">
   <%= link_to( new_post_path, class: 'post-btn') do %>
     <p>投稿する</p>
   <% end%>
   <% @posts.each do |post| %> 
   <%= link_to  post_path(post.id) do%> 
 <div class="post">
       <div class="post-box">
            <%# <%= link_to post_path(post.id) do %> 
            <%# <%= image_tag post.image, class: "posts-img" %> 
       </div>
       <div class="post-box">
          <td> <%= post.state.name %></td>
       </div>
       <div class="post-box">
          <td> <%= post.area.name %></td>
       </div>
            <td> <%= post.mark %></td>
       </div>
       <div class="post-box">
          <td> <%= post.injury.name %></td>
       </div>
       <div class="post-box">
          <td> <%= post.escape.name%></td>
        </div>
        <div class="post-box">
          <td> <%= post.content %></td>
        </div>
          <% end %> 
        <% end %> 
        </div>
      </main>
    </div>
  </body>
</html>