<%= render 'layouts/header' %>

<div class="main-wrapper">
  <div class="container">
    <div class="areas_box">
      <% @posts.each do |post| %>
        <%= link_to(post_path(post.id), method: :get, class: "post-path") do %>
          <p>第<%= post.state.direction_id %>方面 <%= post.state.name %> ・ <%= post.area.name %>被害状況</p>
        <% end %>
       
        <div class="status_post">
          <% if post.status == 3 %>
              <div class="post_nil">未対応</div>
          <% elsif post.status == 1 %>
              <div  class="post_1">対応中</div>
          <% else %>
            <% if post.status == 2 %>
              <div class="post_2">対応済み</div>
            <% end %>
          <% end %>
        </div>


          <% if post.images.attached? %>
              <% if post.images.length < 2 %>
                  <% post.images.each do |image| %>
                  <%= image_tag image, class: "post-img" %>
                  <% end %>
                <% else %>
                  <div class="previews">
                    <div class="slider">
                      <% post.images.each do |image| %>
                       <div> 
                        <%= image_tag image, class: "slick-posts-img" %>
                       </div>
                     <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>


        <% if post.video.attached? %>
          <td>
            <video src="<%= rails_blob_path(post.video) %> " type="video/mp4" width="500" height="280" controls></video>
          </td>
        <% end %>

        <div class="posts-box">
          <h1><span>《被害状況》</span></h1>
          
          <div>
            <pre>・所在      <%= post.state.name %> <%= post.area.name %></div>
          <div>
            <pre>・番地/目印      <%= post.mark %></div>
          </pre>
          <div>
            <pre>・ケガ人の人数     <%= post.injury.name %></div>
          </pre>
          <div>
            <pre>・逃げ遅れの人数     <%= post.escape.name %></div>
          </pre>
          <div>
            <pre>・消防隊の要請      <%= post.help.name %></div>
          </pre>
          <div>
            <pre>・詳細内容</pre>
          </div>
          <div class="box"> <%= post.content %></div>
        </div>

      <% end %>
    </div>
  </div>
</div>

<div class="contents_row">
  <%= link_to(new_post_path, class: 'post-btn', data: { "turbolinks" => false }) do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#1e90ff" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg>
  <% end %>
</div>

