<%= render 'layouts/header' %> 
<%= form_with model: @post, local: true do |f| %>


<h1>災害情報の入力</h1>
<div class="img-upload">
    <%# 画像の投稿 %>
  <div class="image">
    <label class="form-image"> 
     <svg xmlns="http://www.w3.org/2000/svg" width="180" height="180" fill=#1e90ff  class="bi bi-camera-fill" viewBox="0 0 16 16">
      <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
      <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
     </svg><br>
      <span class="file">画像を投稿</span><br>
      <%= f.file_field :image, id:"image", class:"hidden" %>
    </label>
  </div><br>

    <%# 動画の投稿 %>
  <div class="video">
    <label class="form-video">
     <svg xmlns="http://www.w3.org/2000/svg" width="180" height="180" fill=#1e90ff class="bi bi-camera-reels-fill" viewBox="0 0 16 16">
        <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
        <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7z"/>
      </svg><br>
      <span class="file">動画を投稿</span><br>
      <%= f.file_field :image, :accept => 'video/*', id:"video" %><br>
    </label>
  </div><br>
</div>


<div class="detail">
    <%# 地域１のプルダウン %>
    <span class="posts">区・市</span>
    <%= f.collection_select(:state_id, State.all, :id, :name, {}, {class:"state-select"}) %><br>


    <%# 地域2のプルダウン %>
    <span class="posts">町丁・番地</span>
    <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"area-select"}) %><br>


    <%# 目標 %>
    <span class="posts">目標</span>
    <%= f.text_field :mark %><br>


    <%# ケガ人のプルダウン %>
    <span class="posts">ケガ人の有無</span>
    <%= f.collection_select(:escape_id, Escape.all, :id, :name, {}, {class:"escape-select"}) %><br>

    <%# 逃げ遅れのプルダウン %>
    <span class="posts">逃げ遅れの有無</span>
    <%= f.collection_select(:help_id, Help.all, :id, :name, {}, {class:"help-select"}) %><br>

    <%# 要請の有無のプルダウン %>
    <span class="posts">消防隊の要請の有無</span>
    <%= f.collection_select(:injury_id, Injury.all, :id, :name, {}, {class:"injury-select"}) %><br>

    <%# 具体的内容 %>
    <span class="posts">具体的な状況</span><br>
    <%= f.text_area :content %>


    <%# 送信ボタン %>
    <p><%= f.submit "投稿する", class:"post-btn"%></p>
</div>

<% end %>
