<%= render 'layouts/header' %>

<section class="section-post">

<% post = @post %>
<div class="show">
  <div class="show-wrapper">
    <%# 題名 %>
    <div class="show-top">
      <div class="show-area">
        <%= link_to root_path do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="left-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
          <% end %>
        <p class="show-area-title">第<%= post.state.direction_id %>方面 <span class="area-break-word"> &ensp; <%= post.state.name %> <%= post.area.name %> </span> <span class="area-constant">&ensp;被害状況</span></p>
        <span class="right-square"></span>
      </div>
          <%#ステータス %>
      <div class="show-status">
        <% if post.status == 3 %>
          <div class="show-status-pending">未対応</div>
        <% elsif post.status == 1 %>
          <div  class="show-status-in-progress">対応中</div>
        <% else %>
        <% if post.status == 2 %>
          <div class="show-status-completed">対応済み</div>
        <% end %>
      <% end %>
      </div>
    </div>

  <%# 画像の表示 %>
  <div class="show-body">
    <div class="show-body-wrapper">
       <div class="show-left-inner">
          <div class="show-media">
            <% if post.images.attached? %>
              <% if post.images.length < 2 %>
                <% post.images.each do |image| %>
                  <div class="show-media-image">
                      <%= image_tag image, class: "show-image" %>
                    </div>
                  <% end %>
              <% else %>
              <div class="post-media-images">
                  <% post.images.each do |image| %>
                    <%= image_tag image, class: "show-images-slick" %>
                  <% end %>
              </div>
            <% end %>
          <% end %>
            <%# 動画の表示 %>
          <% if post.video.attached? %>
            <div class="post-media-video">
              <video src="<%= rails_blob_path(post.video) %> " type="video/mp4" class= "show-video", muted: :true, controls></video>
            </div>
          <% end %>
        </div>
        <%# 詳細内容の表示 %>
      <div class="show-detail">
        <div class="show-detail-wrapper">
          <div class="show-detail-title">
            <p class="show-detail-info">被害状況</p>
          </div>
          <ul class="show-detail-list">
            <li class="show-detail-item">
              <span class="show-detail-label">・所在</span>
              <span class="show-detail-value"><%= post.state.name %> <%= post.area.name %></span>
            </li>
            <li class="show-detail-item">
              <span class="show-detail-label">・番地/目印</span>
              <span class="show-detail-value"><%= post.mark %></span>
            </li>
            <li class="show-detail-item">
              <span class="show-detail-label">・ケガ人</span>
              <span class="show-detail-value"><%= post.escape.name %></span>
            </li>
            <li class="show-detail-item">
              <span class="show-detail-label">・逃げ遅れ</span>
              <span class="show-detail-value"><%= post.help.name %></span>
            </li>
            <li class="show-detail-item">
              <span class="show-detail-label">・消防の要請</span>
              <span class="show-detail-value"><%= post.injury.name %></span>
            </li>
            <li class="show-detail-item">
              <span class="show-detail-text">・詳細内容&ensp;<span class="detail-btn">∨ すべて表示する</span></span>
            </li>
              <div class="show-detail-comment"><%= post.content %></div>
          </ul>
           </div>
         </div>
      </div>
      <div class="show-right-inner">
        <div class=comment>
          <div class="comment-wrapper">
              <div class="comment-index">
                <p class="comment-title">コメント一覧</p>
                <div class="comment-index-inner">
                  <% @comments.each do |comment| %>

                  <% if comment.user.user_type == 1 %>
                    <ul class="comment-1">
                      <li class="comment-name name-left"><%=comment.user.name%></li>
                      <li class="comment-text text-left"><p><%= comment.comment %></p></li>
                      <li class="comment-time time-left"><%= comment.created_at.strftime("%m-%d %H:%M") %></li>
                    </ul>
                  <% end %> 

                  <% if comment.user.user_type == 2 %>
                    <ul class="comment-2">
                      <li class="comment-name name-right">管理者</li>
                      <li class="comment-text text-right"><p><%= comment.comment %></p></li>
                      <li class="comment-time time-right"><%= comment.created_at.strftime("%m-%d %H:%M") %></li>
                    </ul>
                  <% end %>

                  <% end %>
                </div>
              </div>
              <div class="comment-form">
                <% if user_signed_in? %>
                <%= form_with model: [@post, @comment] do |f| %>
                <div class="comment-form-inner">
                  <div class="comment-form-text"><%= f.text_area :comment, class: "text-form", placeholder: "入力フォーム", style: "height: 30px" %></div>
                  <div><%= f.submit "送信", class: "comment-submit" %></div>
                <% end %>
                <% end %>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
   <% if current_user.user_type == 1 %>
    <div class="show-status-management">
      <div class="show-status-wrapper">
        <div class="show-status-change">
            <p class="status-change-title">管理者専用<span class="change-sp-none" >：</span><span class="change-sp">ステータス変更&nbsp;&&nbsp;投稿削除</span></p>
              <%= form_with model: @post do |f| %>
              <div class="change-form">
                <span class="change-form-text">対応状況変更フォーム<span class="change-sp-none" >：</span></span>
                <%= f.select :status, [["未対応", 3 ],["対応中", 1], ["対応済み", 2]], class: "status-change-text", include_blank: "対応状況を選択してください" %>
                <%= f.submit "変更", class: "change-submit" %>
              </div>
            <% end %> 
        </div>
        <div class="show-status-delete">
          <span class="change-form-text">この投稿を削除する&emsp;<span class="change-sp-none" >：</span></span>
          <span class="change-delete-btn"><%= link_to '投稿を削除', post_path(@post), method: :delete, data: { confirm: '投稿を削除しますか?' }, class: 'delete-link' %></span>
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>">
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>
   </div>
  <%end%>
</div>
</section>