
<%= render 'layouts/header' %> 


<div class="main-wrapper">
  <div class="container">
    <div class="areas_box">  
       <pre><p>第<%= @post.state.direction_id %>方面 <%= @post.state.name %> ・ <%= @post.area.name %>  被害状況</p></pre>
        
            <% if @post.images.attached? %>
              <% if @post.images.length < 2 %>
                  <% @post.images.each do |image| %>
                  <%= image_tag image, class: "post-img" %>
                  <% end %>
                <% else %>
                  <div class="previews">
                    <div class="slider">
                      <% @post.images.each do |image| %>
                       <div> 
                        <%= image_tag image, class: "slick-posts-img" %>
                       </div>
                     <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>






            <% if @post.video.attached? %>
              <td>
                <video src="<%= rails_blob_path(@post.video) %> " type="video/mp4" width="500" height="280" controls></video>
              </td>
            <% end %>
          </div>

          <div class="posts-box">
            <h1><span>《被害状況》</span></h1>
            <div><pre>・所在      <%= @post.state.name %> <%= @post.area.name %></div></pre>
            <div><pre>・番地/目印      <%= @post.mark %></div></pre>
            <div><pre>・ケガ人の人数     <%= @post.injury.name %></div></pre>
            <div><pre>・逃げ遅れの人数     <%= @post.escape.name%></div></pre>
            <div><pre>・消防隊の要請      <%= @post.help.name%></div></pre>
            <div><pre>・詳細内容</pre></div>
            <div class="box"> <%= @post.content %></div>
          </div>
      </div>
    </div>
</div>





<div class=comment-box>
  <div id="comments">
    <p>《コメント一覧》</p>
      <% @comments.each do |comment| %>
        <div class="comment">
          <p><%= comment.comment%></p>
        </div>
      <% end %>
  </div>



  <div class="comment-form">
    <% if user_signed_in? %>
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_area :comment , class: "comment-text"%><br>
        <%= f.submit "送信", class: "comment-submit" %>  
      <% end %>
    <% end %>
  </div>


    <%= form_with model: [@post, @comment] do |f| %>
        <%= f.select :status, [["対応中", false], ["対応済み", true]], include_blank: "対応状況を選択してください" %>
        <%= f.submit "送信", class: "comment-submit" %>
      <% end %>