<header class="header">
  <div class="header-wrapper">
    <div class="title">
      <a><span>FIRE</span>.Net</a>
    </div>
    <div id="navArea",class="navArea" >
      <nav>
        <div class="top_title">
          <a><span>FIRE</span>.Net</a>
        </div>

        <div class="support">
          <ul>
            <li><%= link_to "未対応", posts_path(status: 3 ), class:"btn btn-unsupported",data: {"turbolinks" => false} %></li>
            <li><%= link_to "対応中", posts_path(status: 1), class:"btn btn-danger",data: {"turbolinks" => false} %></li>
            <li><%= link_to "対応済み", posts_path(status: 2), class:"btn btn-primary",data: {"turbolinks" => false} %></li>
          </ul> 
        </div>

        <div class= "inner">
          <ul>
            <li><%= link_to "全方面", root_path %><li>
            <li><%= link_to "第1方面", posts_path(direction_id: 1) %><li>
            <li><%= link_to "第2方面", posts_path(direction_id: 2) %><li>
            <li><%= link_to "第3方面", posts_path(direction_id: 3) %><li>
            <li><%= link_to "第4方面", posts_path(direction_id: 4) %><li>
            <li><%= link_to "第5方面", posts_path(direction_id: 5) %><li>
            <li><%= link_to "第6方面", posts_path(direction_id: 6) %><li>
            <li><%= link_to "第7方面", posts_path(direction_id: 7) %><li>
            <li><%= link_to "第8方面", posts_path(direction_id: 8) %><li>
            <li><%= link_to "第9方面", posts_path(direction_id: 9) %><li>
            <li><%= link_to "第10方面", posts_path(direction_id: 10) %><li>
          </ul><br>
          
          <div class="out-btn">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'log_out_btn'%>
          </div>
        </div>  
      </nav>

      <div class="toggle-btn">
          <span></span>
          <span></span>
          <span></span>
      </div>

      <div id="mask">
        </div>
      </div>
    </div>
  </div>
</header>